@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
}
body * {
  box-sizing: border-box;
}
body *:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(ar) {
  font-family: "El Messiri", sans-serif;
  direction: rtl;
}
body *:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(en) {
  font-family: "Montaserrat", sans-serif;
  direction: ltr;
}

@-webkit-keyframes bottomUpAnimation {
  0% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bottomUpAnimation {
  0% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.validation-failed {
  color: #fa9f9fec !important;
  font-size: 11px;
  display: none;
}

.bottomUpAnimation {
  animation-name: bottomUpAnimation;
}

.rotate-z-180 {
  display: block !important;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  transition: transform 2s !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
}

#fixedContactButton {
  position: fixed;
  left: 30px;
  bottom: 30px;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: #f46224c9;
  color: #ffffff;
  box-shadow: 0 0 5px #524b4b !important;
  transition: all 0.4s;
}
#fixedContactButton i.fa-times {
  display: none;
}
#fixedContactButton:hover {
  background-color: #f46729;
}
#fixedContactButton:hover:hover {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
}
#fixedContactButton:hover i {
  transition: all 0.4s;
}
#fixedContactButton:hover i:hover {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
}

#contactIconsContainer {
  position: fixed;
  width: 50px;
  left: 30px;
  bottom: 85px;
  padding: 0.525rem;
  background-color: #00000085;
  border-radius: 50px;
  text-align: center;
  display: none;
  z-index: 50;
}
#contactIconsContainer a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 0.325rem;
  color: #ffffffc2;
  font-size: 2rem;
}

.contact-form {
  max-width: 400px;
  margin: auto;
  background-color: #cf430b91;
  padding: 1.5rem 2rem;
  color: #ffffff;
  font-size: 0.825rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  animation: bottomUpAnimation 2s ease-in-out;
}
.contact-form input {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 2px;
}
.contact-form input::placeholder {
  font-size: 0.725rem;
}
.contact-form #mainSendBtn,
.contact-form #contactSendBtn {
  background-color: #050c1ad5;
  display: block;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 0.625rem 0;
  font-size: 1rem;
  transition: all 0.4s;
}
.contact-form #mainSendBtn,
.contact-form #contactSendBtn {
  position: relative;
}
.contact-form #mainSendBtn::after,
.contact-form #contactSendBtn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050c1ad5;
  border-radius: 50px;
  z-index: -1;
  transition: all 0.4s;
  opacity: 1;
}
.contact-form #mainSendBtn:hover::after,
.contact-form #contactSendBtn:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.contact-form #mainSendBtn:hover,
.contact-form #contactSendBtn:hover {
  background-color: #07132bd5;
}
.contact-form #contactSendBtn:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  background-color: #e74040;
}

.custom-header-button {
  background-color: #702f1177;
  color: #ffffff;
  font-weight: 600;
  padding: 0.825rem;
  border-radius: 50px;
  transition: all 0.4s;
}
.custom-header-button i {
  color: #f45c16;
  transition: all 0.4s;
}
.custom-header-button:hover {
  background-color: #f45c16;
}
.custom-header-button:hover i {
  color: #ffffff;
}

.main-section {
  background: linear-gradient(to bottom right, #4419077a, #4708087a), url("../../img/cover-5.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (min-width: 992px) {
  .main-section {
    min-height: 100vh;
  }
}
.main-section #mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-section #mainHeader #mainHeaderMenuToggler {
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #efefef;
  transition: all 0.4s;
}
.main-section #mainHeader #mainHeaderMenuToggler i {
  font-weight: 500;
}
.main-section #mainHeader #mainHeaderMenuToggler i.fa-times {
  display: none;
}
.main-section #mainHeader #mainHeaderMenuToggler:hover {
  color: #efefefbd;
}
.main-section #mainHeader #mainHeaderMenuToggler #topHeaderLinksContainer {
  position: absolute;
  top: 150%;
  min-width: 220px;
  right: 0;
  background-color: #000000e1;
  padding: 3rem 1.2rem;
  border-radius: 50px;
  display: none;
  z-index: 50;
}
.main-section #mainHeader #mainHeaderMenuToggler #topHeaderLinksContainer a {
  display: block;
  color: #f5eeeeb7;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin: 2rem 0;
  transition: all 0.3s;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.main-section #mainHeader #mainHeaderMenuToggler #topHeaderLinksContainer a:hover {
  color: #f8cbb6b7;
}
.main-section #mainHeader #mainHeaderMenuToggler #topHeaderLinksContainer a:hover:hover {
  -webkit-transform: scaleX(1.03) scaleY(1.03);
  transform: scaleX(1.03) scaleY(1.03);
}
.main-section #mainHeader .call-details-wrapper a {
  color: #ffffff;
  text-decoration: none;
}
.main-section #mainHeader .call-details-wrapper #mainCallNow {
  background-color: #f46424;
  color: #ffffff;
  padding: 0.625rem 1rem;
  border: none;
  border-radius: 50px;
}
.main-section .main-banner {
  color: #ffffff;
}
.main-section .main-banner .text-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}
.main-section .main-banner .text-container .header {
  background-color: #ee670d9f;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  animation: bottomUpAnimation 1.5s ease-in-out;
}
.main-section .main-banner .text-container .sub-header {
  font-size: 2.5rem;
  padding: 1.3rem 1rem;
  animation: bottomUpAnimation 2.25s ease-in-out;
}
@media only screen and (max-width: 576px) {
  .main-section .main-banner .text-container .sub-header {
    font-size: 1.5rem;
  }
}
.main-section .main-banner .text-container .description {
  max-width: 100%;
}
.main-section .main-banner .text-container .description .desc-list .desc-item {
  font-size: 1.6rem;
  margin-bottom: 0.325rem;
  color: #f8e8e4ea;
}
.main-section .main-banner .text-container .description .desc-list .desc-item span {
  position: relative;
  right: 8px;
}
.main-section .main-banner .text-container .description .desc-list .desc-item::marker {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: rgba(250, 180, 123, 0.822);
}
.main-section .main-banner .text-container .description .desc-list .desc-item.first {
  animation: bottomUpAnimation 3s ease-in-out;
}
.main-section .main-banner .text-container .description .desc-list .desc-item.second {
  animation: bottomUpAnimation 3.25s ease-in-out;
}
.main-section .main-banner .text-container .description .desc-list .desc-item.third {
  animation: bottomUpAnimation 3.5s ease-in-out;
}
.main-section .main-banner .text-container .description .desc-list .desc-item.fourth {
  animation: bottomUpAnimation 3.75s ease-in-out;
}
@media only screen and (max-width: 576px) {
  .main-section .main-banner .text-container .description .desc-list .desc-item {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .main-section .main-banner .text-container .description .desc-list .desc-item {
    font-size: 2rem;
  }
}
.main-section .main-banner .text-container .main-button {
  width: 100%;
}
.main-section .main-banner .text-container .main-button a {
  display: block;
  border: none;
  background-color: #df1a1a;
  color: #ffffff;
  max-width: 200px;
  text-decoration: none;
  text-align: center;
  padding: 0.825rem 0;
  border-radius: 25px;
  animation: bottomUpAnimation 3.5s ease-in-out;
}
@media only screen and (max-width: 576px) {
  .main-section .main-banner .text-container .main-button a {
    margin: auto;
  }
}
.main-section .main-banner .text-container .main-button a {
  position: relative;
}
.main-section .main-banner .text-container .main-button a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #df1a1a;
  border-radius: 50px;
  z-index: -1;
  transition: all 0.4s;
  opacity: 1;
}
.main-section .main-banner .text-container .main-button a:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.main-section .main-banner .text-container .main-button a:hover {
  background-color: #f33939;
}
@media only screen and (max-width: 576px) {
  .main-section .main-banner .text-container .main-button a {
    margin: auto;
  }
}
.main-section .main-banner .text-container .image {
  height: auto;
  opacity: 0.55;
}
@media only screen and (max-width: 992px) {
  .main-section .main-banner .text-container .image {
    width: 200px;
  }
}
@media only screen and (max-width: 576px) {
  .main-section .main-banner .text-container .image {
    width: 100px;
  }
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  .main-section .main-banner .text-container {
    min-height: 1000px;
  }
}
@media only screen and (max-width: 576px) and (orientation: portrait) {
  .main-section .main-banner .text-container {
    min-height: 620px;
  }
}

.services-section {
  position: relative;
  background: linear-gradient(to bottom right, #fcfcfcf1, #fcf9f9ee), url("../../img/cover-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.services-section .header {
  position: relative;
  animation-duration: 1.5s;
}
.services-section .header h2 {
  max-width: 220px;
  margin: auto;
  color: #632407;
  font-weight: 900;
}
.services-section .header p {
  color: #000000;
}
.services-section .services-container .service-item {
  position: relative;
}
.services-section .services-container .service-item .image {
  text-align: center;
  margin-bottom: 1rem;
}
.services-section .services-container .service-item .image img {
  width: 80px;
  height: auto;
}
.services-section .services-container .service-item .title {
  text-align: center;
  color: #08175a;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.services-section .services-container .service-item.first {
  animation-duration: 2s;
}
.services-section .services-container .service-item.second {
  animation-duration: 2.5s;
}
.services-section .services-container .service-item.third {
  animation-duration: 3s;
}
.services-section .services-container .service-item.fourth {
  animation-duration: 3.5s;
}
.services-section .services-container .service-item.fifth {
  animation-duration: 4s;
}
.services-section .services-container .service-item.sixth {
  animation-duration: 4.5s;
}
.services-section .section-link a {
  display: block;
  width: 100%;
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f46424;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 0.625rem;
  transition: all 0.4s;
  animation-duration: 5s;
}
.services-section .section-link a:hover {
  background-color: #f48c54;
}

#contactSection .about-container {
  background: linear-gradient(to bottom right, #42110194, #2b030373), url("../../img/cover-7.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  #contactSection .about-container {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  }
}
#contactSection .about-container .item {
  text-align: center;
  color: #fce5da;
}
@media only screen and (max-width: 768px) {
  #contactSection .about-container .item {
    padding: 0 4rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  #contactSection .about-container .item {
    padding: 0 4rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #contactSection .about-container .item {
    padding: 0 4rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  #contactSection .about-container .item {
    padding: 0 4rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
#contactSection #contactSectionFormContainer .header {
  color: #070a33;
}
@media only screen and (max-width: 768px) {
  #contactSection #contactSectionFormContainer .header {
    text-align: center;
  }
}
#contactSection #contactSectionFormContainer .header h3 {
  font-weight: 900;
}
#contactSection #contactSectionFormContainer #contactSectionForm {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  width: 100%;
  max-width: 500px;
}
#contactSection #contactSectionFormContainer #contactSectionForm label {
  color: #691608;
  font-size: 0.925rem;
}
#contactSection #contactSectionFormContainer #contactSectionForm input {
  border: 1px solid #a7a1a1 !important;
}
#contactSection #contactSectionFormContainer #contactSectionForm #contactSendBtn {
  border-radius: 0;
  background-color: #d61414;
  border: none !important;
  display: block;
  width: 100%;
  padding: 0.825rem 0;
  color: #ffffff;
}

#footer {
  background-color: #020311;
  color: #ffffff;
  font-weight: 600;
  padding: 1.5rem;
  text-align: center;
}
#footer a {
  color: #f8a382;
}

/*# sourceMappingURL=style.css.map */
