// Variables

$orangeDark: #f46424;
$orangeColor: #f45c16;
$orangeLight: #f48c54;
$darkColor: #3d3d3d;
$white: #ffffff;
$black: #000000;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 360px;
$xxs: 320px;
$fold: 280px;

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    * {
        box-sizing: border-box;
        &:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(ar) {
            font-family: "El Messiri", sans-serif;
            direction: rtl;
        }
        &:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(en) {
            font-family: "Montaserrat", sans-serif;
            direction: ltr;
        }
    }
}

@mixin bubble($color, $scaleValue) {
    & {
        position: relative;
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 50px;
        z-index: -1;
        transition: all 0.4s;
        opacity: 1;
    }
    &:hover::after {
        opacity: 0;
        @include prefix(transform, scale($scaleValue), webkit moz o ms);
    }
}

@mixin scale-element($x, $y) {
    &:hover {
        -webkit-transform: scaleX($x) scaleY($y);
        transform: scaleX($x) scaleY($y);
    }
}

@mixin position($value, $top, $left) {
    & {
        position: $value;
        top: $top;
        left: $left;
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $var in $prefixes {
        #{'-'+ $var + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin text-overflow-ellipsis {
    & {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@-webkit-keyframes bottomUpAnimation {
    0% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bottomUpAnimation {
    0% {
        -webkit-transform: translateY(120px);
        transform: translateY(120px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.validation-failed {
    color: #fa9f9fec !important;
    font-size: 11px;
    display: none;
}

.bottomUpAnimation {
    animation-name: bottomUpAnimation;
}

.rotate-z-180 {
    display: block !important;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    transition: transform 2s !important;
}

button {
    outline: none !important;
    box-shadow: none !important;
}

#fixedContactButton {
    position: fixed;
    left: 30px;
    bottom: 30px;
    border: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem;
    border-radius: 50%;
    background-color: #f46224c9;
    color: $white;
    box-shadow: 0 0 5px #524b4b !important;
    transition: all 0.4s;
    i {
        &.fa-times {
            display: none;
        }
    }
    &:hover {
        @include scale-element(1.1, 1.1);
        background-color: lighten($color: $orangeDark, $amount: 1%);
        i {
            transition: all 0.4s;
            @include scale-element(1.1, 1.1);
        }
    }
}

#contactIconsContainer {
    position: fixed;
    width: 50px;
    left: 30px;
    bottom: 85px;
    padding: 0.525rem;
    background-color: #00000085;
    border-radius: 50px;
    text-align: center;
    display: none;
    z-index: 50;
    a {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-bottom: 0.325rem;
        color: #ffffffc2;
        font-size: 2rem;
    }
}

// Form

.contact-form {
    max-width: 400px;
    margin: auto;
    background-color: #cf430b91;
    padding: 1.5rem 2rem;
    color: $white;
    font-size: 0.825rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    animation: bottomUpAnimation 2s ease-in-out;

    input {
        outline: none !important;
        box-shadow: none !important;
        border-radius: 2px;
    }

    input::placeholder {
        font-size: 0.725rem;
    }

    #mainSendBtn,
    #contactSendBtn {
        background-color: #050c1ad5;
        display: block;
        color: $white;
        width: 100%;
        border: none;
        border-radius: 25px;
        padding: 0.625rem 0;
        font-size: 1rem;
        transition: all 0.4s;
        @include bubble(#050c1ad5, 1.1);
        &:hover {
            background-color: #07132bd5;
        }
    }

    #contactSendBtn {
        &:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            background-color: #e74040;
        }
    }
}

.custom-header-button {
    background-color: #702f1177;
    color: $white;
    font-weight: 600;
    padding: 0.825rem;
    border-radius: 50px;
    transition: all 0.4s;
    i {
        color: $orangeColor;
        transition: all 0.4s;
    }

    &:hover {
        background-color: $orangeColor;
        i {
            color: $white;
        }
    }
}
