html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body *:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(ar) {
  font-family: "El Messiri", sans-serif;
  direction: rtl;
}

body *:not(.fa):not(.fas):not(.far):not(.fab):not(.fad):lang(en) {
  font-family: "Montaserrat", sans-serif;
  direction: ltr;
}

@-webkit-keyframes bottomUpAnimation {
  0% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottomUpAnimation {
  0% {
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.bottomUpAnimation {
  -webkit-animation-name: bottomUpAnimation;
          animation-name: bottomUpAnimation;
}

.rotate-z-180 {
  display: block !important;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 2s !important;
  transition: -webkit-transform 2s !important;
  transition: transform 2s !important;
  transition: transform 2s, -webkit-transform 2s !important;
}

button {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#fixedContactButton {
  position: fixed;
  left: 30px;
  bottom: 30px;
  border: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: #f46224c9;
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px #524b4b !important;
          box-shadow: 0 0 5px #524b4b !important;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#fixedContactButton i.fa-times {
  display: none;
}

#fixedContactButton:hover {
  background-color: #f46729;
}

#fixedContactButton:hover:hover {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
}

#fixedContactButton:hover i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#fixedContactButton:hover i:hover {
  -webkit-transform: scaleX(1.1) scaleY(1.1);
  transform: scaleX(1.1) scaleY(1.1);
}

#contactIconsContainer {
  position: fixed;
  width: 50px;
  left: 30px;
  bottom: 85px;
  padding: 0.525rem;
  background-color: #00000085;
  border-radius: 50px;
  text-align: center;
  display: none;
  z-index: 50;
}

#contactIconsContainer a {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 0.325rem;
  color: #ffffffc2;
  font-size: 2rem;
}

.contact-form {
  max-width: 400px;
  margin: auto;
  background-color: #cf430b91;
  padding: 1.5rem 2rem;
  color: #ffffff;
  font-size: 0.825rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
  -webkit-animation: bottomUpAnimation 2s ease-in-out;
          animation: bottomUpAnimation 2s ease-in-out;
}

.contact-form input {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  border-radius: 2px;
}

.contact-form input::-webkit-input-placeholder {
  font-size: 0.725rem;
}

.contact-form input:-ms-input-placeholder {
  font-size: 0.725rem;
}

.contact-form input::-ms-input-placeholder {
  font-size: 0.725rem;
}

.contact-form input::placeholder {
  font-size: 0.725rem;
}

.contact-form #mainSendBtn {
  background-color: #050c1ad5;
  display: block;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 0.625rem 0;
  font-size: 1rem;
}

.contact-form #mainSendBtn {
  position: relative;
}

.contact-form #mainSendBtn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #050c1ad5;
  border-radius: 50px;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

.contact-form #mainSendBtn:hover::after {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact-form #mainSendBtn:hover {
  background-color: #07132bd5;
}
/*# sourceMappingURL=common.css.map */