// ********************************************************************************************
@import "./common.scss";
// ********************************************************************************************

// Main Section Styles

.main-section {
    background: linear-gradient(to bottom right, #4419077a, #4708087a), url("../../img/cover-5.jpg");
    background-size: cover;
    background-attachment: fixed;
    @media only screen and (min-width: $lg) {
        min-height: 100vh;
    }

    #mainHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #mainHeaderMenuToggler {
            position: relative;
            width: 50px;
            height: 50px;
            border: none;
            background-color: transparent;
            font-size: 2rem;
            color: #efefef;
            transition: all 0.4s;
            i {
                font-weight: 500;
                &.fa-times {
                    display: none;
                }
            }
            &:hover {
                color: #efefefbd;
            }
            #topHeaderLinksContainer {
                position: absolute;
                top: 150%;
                min-width: 220px;
                right: 0;
                background-color: #000000e1;
                padding: 3rem 1.2rem;
                border-radius: 50px;
                display: none;
                z-index: 50;
                a {
                    display: block;
                    color: #f5eeeeb7;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    margin: 2rem 0;
                    transition: all 0.3s;
                    backface-visibility: hidden;
                    transform: translateZ(0);
                    &:hover {
                        color: #f8cbb6b7;
                        @include scale-element(1.03, 1.03);
                    }
                }
            }
        }

        .call-details-wrapper {
            a {
                color: $white;
                text-decoration: none;
            }
            #mainCallNow {
                background-color: $orangeDark;
                color: $white;
                padding: 0.625rem 1rem;
                border: none;
                border-radius: 50px;
            }
        }
    }

    .main-banner {
        color: $white;
        .text-container {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-right: 0.625rem;
            padding-left: 0.625rem;
            .header {
                background-color: #ee670d9f;
                clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
                animation: bottomUpAnimation 1.5s ease-in-out;
            }
            .sub-header {
                font-size: 2.5rem;
                padding: 1.3rem 1rem;
                animation: bottomUpAnimation 2.25s ease-in-out;
                @media only screen and (max-width: $sm) {
                    font-size: 1.5rem;
                }
            }

            .description {
                max-width: 100%;
                .desc-list {
                    .desc-item {
                        font-size: 1.6rem;
                        margin-bottom: 0.325rem;
                        color: #f8e8e4ea;
                        span {
                            position: relative;
                            right: 8px;
                        }
                        &::marker {
                            content: "\f058";
                            font-family: "Font Awesome 5 Pro";
                            color: rgba(250, 180, 123, 0.822);
                        }
                        &.first {
                            animation: bottomUpAnimation 3s ease-in-out;
                        }
                        &.second {
                            animation: bottomUpAnimation 3.25s ease-in-out;
                        }
                        &.third {
                            animation: bottomUpAnimation 3.5s ease-in-out;
                        }
                        &.fourth {
                            animation: bottomUpAnimation 3.75s ease-in-out;
                        }
                        @media only screen and (max-width: $sm) {
                            font-size: 1rem;
                        }
                        @media only screen and (min-width: $md) {
                            font-size: 2rem;
                        }
                    }
                }
            }
            .main-button {
                width: 100%;
                a {
                    display: block;
                    border: none;
                    background-color: #df1a1a;
                    color: $white;
                    max-width: 200px;
                    text-decoration: none;
                    text-align: center;
                    padding: 0.825rem 0;
                    border-radius: 25px;
                    animation: bottomUpAnimation 3.5s ease-in-out;
                    @media only screen and (max-width: $sm) {
                        margin: auto;
                    }
                    @include bubble(#df1a1a, 1.3);
                    &:hover {
                        background-color: #f33939;
                    }
                    @media only screen and (max-width: $sm) {
                        margin: auto;
                    }
                }
            }
            .image {
                height: auto;
                opacity: 0.55;
                @media only screen and (max-width: $lg) {
                    width: 200px;
                }
                @media only screen and (max-width: $sm) {
                    width: 100px;
                }
            }
            @media only screen and (max-width: $lg) and (orientation: portrait) {
                min-height: 1000px;
            }
            @media only screen and (max-width: $sm) and (orientation: portrait) {
                min-height: 620px;
            }
        }
    }
}

.services-section {
    position: relative;
    background: linear-gradient(to bottom right, #fcfcfcf1, #fcf9f9ee), url("../../img/cover-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    .header {
        position: relative;
        animation-duration: 1.5s;
        h2 {
            max-width: 220px;
            margin: auto;
            color: rgb(99, 36, 7);
            font-weight: 900;
        }
        p {
            color: #000000;
        }
    }

    .services-container {
        .service-item {
            position: relative;
            .image {
                text-align: center;
                margin-bottom: 1rem;
                img {
                    width: 80px;
                    height: auto;
                }
            }
            .title {
                text-align: center;
                color: #08175a;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
            &.first {
                animation-duration: 2s;
            }
            &.second {
                animation-duration: 2.5s;
            }
            &.third {
                animation-duration: 3s;
            }
            &.fourth {
                animation-duration: 3.5s;
            }
            &.fifth {
                animation-duration: 4s;
            }
            &.sixth {
                animation-duration: 4.5s;
            }
        }
    }

    .section-link {
        a {
            display: block;
            width: 100%;
            max-width: 220px;
            margin-right: auto;
            margin-left: auto;
            background-color: $orangeDark;
            border-radius: 30px;
            color: $white;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            margin-top: 1.5rem;
            padding: 0.625rem;
            transition: all 0.4s;
            animation-duration: 5s;
            &:hover {
                background-color: $orangeLight;
            }
        }
    }
}

// Contact section styles

#contactSection {
    .about-container {
        background: linear-gradient(to bottom right, #42110194, #2b030373), url("../../img/cover-7.jpg");
        background-size: cover;
        background-attachment: fixed;
        @media only screen and (min-width: $lg) {
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
        }
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .item {
            text-align: center;
            color: #fce5da;
            @media only screen and (max-width: $md) {
                padding: 0 4rem;
                font-size: 2rem;
                line-height: 3.5rem;
            }
            @media only screen and (min-width: $md) {
                padding: 0 4rem;
                font-size: 2rem;
                line-height: 3.5rem;
            }
            @media only screen and (min-width: $lg) {
                padding: 0 4rem;
                font-size: 1.5rem;
                line-height: 3rem;
            }
            @media only screen and (min-width: $xl) {
                padding: 0 4rem;
                font-size: 2rem;
                line-height: 3.5rem;
            }
        }
    }
    #contactSectionFormContainer {
        .header {
            color: #070a33;
            @media only screen and (max-width: $md) {
                text-align: center;
            }
            h3 {
                font-weight: 900;
            }
        }
        #contactSectionForm {
            background-color: transparent !important;
            border: none;
            box-shadow: none;
            width: 100%;
            max-width: 500px;
            label {
                color: #691608;
                font-size: 0.925rem;
            }
            input {
                border: 1px solid #a7a1a1 !important;
            }
            #contactSendBtn {
                border-radius: 0;
                background-color: #d61414;
                border: none !important;
                display: block;
                width: 100%;
                padding: 0.825rem 0;
                color: $white;
            }
        }
    }
}

// Footer styles

#footer {
    background-color: #020311;
    color: $white;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    a {
        color: #f8a382;
    }
}
